h1,
h2,
th {
  color: rgb(78, 151, 156);
}

.app {
  background-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(124, 192, 219);
  display: flex;
  justify-content: center;
}

.campos {
  font-weight: bold;
}
label {
  display: inline-block;
}

input {
  display: block;
}
